h1 {
    font-family: "Poppins", sans-serif;
}

.main-info-title {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.3rem;
    margin: 0;
    color: #78787d;
    background-color: #e9e9e9;
}

.main-info-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    margin: 0;
    color: #78787d;
    background-color: #e9e9e9;

}