.layout-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.semi-container {
    display : flex;
    flex-direction: column;
}

.semi-container > * {
    margin: 10px 0;
}