.layout-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.semi-container {
    display : flex;
    flex-direction: column;
}

.semi-container > * {
    margin: 10px 0;
}

.pic{
    width: 10rem;
}

.pics{
    margin-top: 35px;
    width: 5rem;
}